.warning {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid tomato;
  font-size: 10px;
  text-align: center;
  color: tomato;
  margin-left: 5px;
}
.more-screen .icon-row {
  margin-top: 30px;
}
.more-suggestions {
  margin-top: 40px;
  border-top: var(--main-border);
  padding-top: 30px;
}
.more-suggestions__title {
  margin-bottom: 30px;
  font-weight: 500;
}
.more-suggestions__icons {
  display: flex;
}
.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-bottom: 10px;
}
