.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alt-header__title {
  font-weight: 600;
  font-size: 30px;
}
.alt-header__column {
  width: 33%;
}
alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:first-child {
  margin-right: 30px;
}
